<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container " style="width: 50%; height: 100%; align-content: center;">
    <div class=row>
        <div class="col">
            <button type="button" class="btn btn-light mx-2" routerLink="/Events">Event Calendar</button>
            <button type="button" class="btn btn-light" routerLink="/event-vote">Event Poll</button>
        </div>
    </div>
    <div class=row>
        <div class="col">
            <full-calendar [options]= "calendarOptions" >
            
            

            </full-calendar>
        </div>
    </div>
</div>



<app-footer></app-footer>