<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="card border border-info">
        <div class="card-header bg-white border-bottom border-info">
            <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_ventilation.png" class="img-fluid" alt="Responsive image">
          </div>
        <div class="card-body">
            <p class="paragraph" id="paragraph-1">Ventilation is an effective tool for passive cooling, especially if temperatures are cooler outdoors than indoors. Natural ventilation is caused by thermal and / or pressure differentials. Favourable volume design, floor plan, section design and envelope design can increase natural ventilation by using one or more of the following techniques:</p>
            <p class="paragraph" id="paragraph-2">- courtyard and atrium design enabling night and day air movement merits</p>
            <p class="paragraph" id="paragraph-3">- orienting the building / openings towards prevailing wind conditions.</p>
            <p class="paragraph" id="paragraph-4">- floor & section planning to permit cross ventilation air movement.</p>
            <p class="paragraph" id="paragraph-5">- strategically introducing wind catchers, nozzle devices, solar chimneys and other specific measures</p>
            <p class="paragraph" id="paragraph-6">State of the art, 3D – BIM techniques along with CFD (Computational Fluid Dynamics) simulations can help in predicting and planning natural air movement in and around the building which is site specific, sustainable and best suits the proposed function and performance requirements.</p>
        
        </div>
      </div>
</div>



















<app-footer></app-footer>
