<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_technology.png" class="img-fluid" alt="Responsive image">
    <p class="paragraph" id="paragraph-1">The available construction systems and technologies vary a lot due to the climatic, geological and even site-specific conditions as well as our socio-cultural back-grounds and religious beliefs.  In terms of sustainability, local building materials should be preferred, to avoid unwarranted logistical challenges and additional carbon emissions associated with mining, manufacturing, transportation and disposal at the end of the life-cycle.   </p>
    <p class="paragraph" id="paragraph-2">  Senseful sustainable ratios between “high tech” and “low tech” have to be considered not only for building structure, shell and interiors, but for the utilities as well. One should focus of strengthening the ‘passive’ utilities to reduce dependence on the ‘active’ utilities and systems.  </p>
    <p class="paragraph" id="paragraph-3"> 3D – BIM techniques along with the available simulation software (e.g. climate analysis, ventilation, daylight, energy and others) can help in holistic planning and avoiding pitfalls in future. New possibilities of smart building digital process seem to arise in on site CNC production manufacturing, esp. with wiki knowledge spreading construction and material knowledge.

    </p>
    
</div>














<app-footer></app-footer>
