<div class="container">

    <h2 class="mb-3">Update Event</h2>


    <form action="" method="post" name="saveEvent" (ngSubmit)="updateEvent()" >
      <div class="form-group row">
        <div class="col-sm-6">
          <input required ngModel name="title" 
            placeholder="event title" 
            type="text" 
            class="form-control"
            #title="ngModel" 
            change="log(title)"
            [(ngModel)]="event.title"
             >
          <div class="alert alert-danger" *ngIf="title.touched &&!title.valid">
            Title is required.
          </div>
        </div>

        <div class="col-sm-6">
          <input required ngModel 
            name="venue" 
            placeholder="venue" 
            change="log(description)" 
            type="text" id="venue"
            #venue="ngModel" 
            class="form-control"
            [(ngModel)]="event.venue">

          <div class="alert alert-danger" *ngIf="venue.touched && !venue.valid">
            Venue is required
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm">
          <textarea required 
            maxlength="190" ngModel 
            name="description" 
            id="description" 
            cols="" rows=""
            class="form-control" 
            #description="ngModel" 
            change="log(description)" 
            placeholder="Event Description"
            [(ngModel)]="event.description"
            >

          </textarea>
          <div *ngIf="description.touched &&!description.valid">
            <div class="alert alert-danger" *ngIf="description.errors?.required">Description is required</div>
            <div class="alert alert-danger" *ngIf="description.errors?.maxlength">maximum 190 characters</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        
        <div class="col-sm-6">
          <label for="from">From</label>
          <br>
          <input type="datetime-local" 
            name="from" 
            id="timepicker1"
            class="form-control"
            [(ngModel)]="event.sdate"
            >
        </div>

        <div class="col-sm-6">
          <label for="to">To</label>
          <br>
          <input type="datetime-local" 
            name="to" 
            id="timepicker2"
            class="form-control"
            [(ngModel)]="event.edate"
            >
        </div>
      </div>
     

      <div class="form-group row">

        <div class="col-sm-2">


          <label class="" for="recurrence">Event Recurrence</label>

        </div>
        <div class="col-sm-4">
          <select class="custom-select" name="recurrence"[(ngModel)]="event.recurrence" >
            <option value="none">None</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label class="" for="partcipantType">Participnat Type</label>
        </div>
        <div class="col-sm-4">
          <select class="custom-select" name="partcipantType" [(ngModel)]="event.partcipantType" >
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="admin">Admin</option>
            <option value="all">All</option>
          </select>
        </div>
      </div>

      <!--*******************************************************************-->
      <div class="form-group row">
        <div class="col-sm-3">
          <input type="text" id="" name="adId" class="form-control"  placeholder="Admin Id" [(ngModel)]="event.admin_id"
            value="1">
        </div>
      </div>
      <!--*******************************************************************-->

      <div class="form-group row">
        <div class="btn-toolbar">
          <button class="btn btn-primary mr-2" type="button">
            Back
          </button>
          <button class="btn btn-primary mr-2" type="submit">
            Update
          </button>
          <button class="btn btn-primary" type="reset">
            Clear
          </button>
        </div>

      </div>
    </form>
  </div>
  