<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container-fluid border-top">
    <div class="row">
        <div class="col-lg-7 sm-12 " id="section1">
            <div class="container " id="pdf-viewer">
                <div class="row mx-auto"><iframe class="border mx-auto shadow-sm" [src]="pdfUrl" height="850" width="600"></iframe></div>
                <hr class="mx-auto" id="ruler">
                <div class="row mx-auto" id="info">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body shadow" style="height: 12rem;">
                                <h2>Project Details</h2>
                                <p>Created at:  {{data.created_at?.split("T")[0]}}</p>
                                <p>Updated at:  {{data.updated_at?.split("T")[0]}}</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body shadow border-bg-success" style="height: 12rem;">
                                <h2>Author</h2>
                                <p>Name:  {{data.author}}</p>
                                <p>Organisation:  {{data.organisation}}</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
        </div>
        <div class="col-lg-5 sm-12 bg-light shadow-sm">
            <div class="card shadow-sm mx-auto" style="width: 25rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Brief description</li>
                  <li class="list-group-item">{{data.abstract}}</li>
                </ul>
            </div>

            <div class="card shadow-sm mx-auto " style="width: 25rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Details</li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-5">Project ID:</div>
                        <div class="col-7">{{data.id}}</div>
                        <div class="col-5">Autor:</div>
                        <div class="col-7">{{data.author}}</div>
                        <div class="col-5">Organisation:</div>
                        <div class="col-7">{{data.organisation}}</div>
                        <div class="col-5">Created Date:</div>
                        <div class="col-7">{{data.created_at?.split("T")[0]}}</div>
                        <div class="col-5">Updated Date:</div>
                        <div class="col-7">{{data.updated_at?.split("T")[0]}}</div>
                    </div>
                  </li>
                </ul>
            </div>

            <div class="card shadow-sm mx-auto" style="width: 25rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Options</li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-5">BUILDING SCALE:</div>
                        <div class="col-7">{{data.bulding_scale}}</div>
                        <div class="col-5">ENERGY STRATEGY:</div>
                        <div class="col-7">{{data.energy_strategy}}</div>
                        <div class="col-5">CLIMATE ZONE:</div>
                        <div class="col-7">{{data.climate_zone}}</div>
                        <div class="col-5">WORLD REGION:</div>
                        <div class="col-7">{{data.world_region}}</div>
                        <div class="col-5">PARAMETERS:</div>
                        <div class="col-7">{{data.parameters}}</div>
                        <div class="col-5">MATERIAL:</div>
                        <div class="col-7">{{data.material}}</div>
                        <div class="col-5">TYPE OF DOCUMENT:</div>
                        <div class="col-7">{{data.type_of_doc}}</div>
                        <div class="col-5">MODE OF INFORMATION:</div>
                        <div class="col-7">{{data.mode_of_info}}</div>
                        <div class="col-5">ACCESS:</div>
                        <div class="col-7">{{data.accessible == 1 ? "Open Access" : "Private Protected Access"}}</div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
