.container-fluid{
    margin-bottom: 100px;
}

.card{
    margin-top: 30px;
    margin-bottom: 30px;
}

#section1{
    height: 100%;
}

.col-5,.col-7{
    margin-bottom: 15px;

}

#pdf-viewer{
    margin-top: 30px;
}


#info{
    margin-top:50px ;
}

#ruler{
    margin-top: 50px;
    margin-bottom: 20px;
}