<nav class="navbar  navbar-light bg-light" id="footer">
  <div class="container">
    <div class="row" id="area1">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <img src="https://app.vanillr.io/templates/frontend/climatehub.vanillr.io/img/daad_logo-supplement.png" class="img-fluid" alt="Responsive image" id="img-1">
      </div>
      <div class="col-sm-4">
        <img src="https://app.vanillr.io/templates/frontend/climatehub.vanillr.io/img/bmbf_forderlogo.png" class="img-fluid" alt="Responsive image" id="img-2">
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 sm-12">
        <h1>ClimateHub</h1>
        <p>We are proud to present you our climate based projects on this homepage.</p>
      </div>
      <div class="col-lg-7 sm-12">
        <h1>Latest public projects</h1>
        <div class="row">
          <div class="col-sm" id="post1">
            Project 1
          </div>
          <div class="col-sm" id="post2">
            Project 2
          </div>
          <div class="col-sm" id="post3">
            Project 3
          </div>
        </div>
        <div class="row">
          <div class="col-sm" id="post4">
            Project 4
          </div>
          <div class="col-sm" id="post5">
            Project 5
          </div>
          <div class="col-sm" ></div>
        </div>
      </div>
    </div>
  </div>

  
  

</nav>