.logo{
    width: 150px;
    height: 30px;
}

.navbar{
    height: 100px;
 
    
}

.line-vertical {
    width: 0.01em;
    height: 100px;
    float: left;
    background-color: #e0e0e0;
    margin: 35px;
  }

  .navbar-brand{
    margin: 35px;
  }


 