<app-navbar></app-navbar>
<app-map-image></app-map-image>
<app-breadcrumb class="breadcrumb"></app-breadcrumb>
<div class="container">
    <div class="row row-1">
        <div class="col-6">
            <h1 class="main-title">Toolbox</h1>
            
        </div>
        <div class="col-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Here you can find fact sheets, research papers, articles, presentations, … explaining architectural tools to create climate responsive architecture.</p>
            <p>Enter a search term, filter the documents to find your topic of interest or simply browse through the Toolbox!</p>
            <p>Do you need access to a password protected document? No problem, contact us <a routerLink="/JoinUs">Here</a></p>
        </div>
    </div>
    <div class="row card-group">
        <div class="col-lg-4 sm-12"  *ngFor="let pro of projects">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{pro.img_file}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{pro.project_title}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Details ></a>
                </div>
            </div>
        </div>
    </div>
</div>







<app-footer></app-footer>