<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#">ClimateHub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Toolbox">Toolbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Additives">Additives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Network">Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Editorial">Editorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/JoinUs">Join us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ELearning">E-Learning</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>

  

