#result{
    background-color: lightskyblue;
}

.container{
    margin-bottom: 100px;
}

.card{
    margin-bottom: 40px;
    text-align: justify;


  
}
.main-title{
    margin-top: 25px;
    font-weight: bold;
}