<app-navbar></app-navbar>
<app-map-image></app-map-image>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="row row-1">
        <div class="col-6">
            <h1 class="main-title">Additives</h1>
            
        </div>
        <div class="col-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Here you can find auxiliaries, like simulation programs, websites and literature helping you create your climate responsive project. Enter a search term, filter the documents to find your topic of interest or simply browse through the additives!</p>
            <p>Do you need access to a password protected document? No problem, contact us <a routerLink="/JoinUs">Here</a></p>
        </div>
    </div>
    
</div>

<app-footer></app-footer>
