<app-admin-nav></app-admin-nav>
<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h1>Update Events</h1>
  <form action="" method="post" name="editEvent" (ngSubmit)="updateEvent()">

    <div class="card" id="card-title">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Event Title
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <input required ngModel name="title" placeholder="event title" type="text" class="form-control"
                  #title="ngModel" change="log(title)" [(ngModel)]="event.title">
                <div class="alert alert-danger" *ngIf="title.touched &&!title.valid">
                  Title is required.
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-venue">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Venue
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <input required ngModel name="venue" placeholder="venue" change="log(description)" type="text"
                  id="venue" #venue="ngModel" class="form-control" [(ngModel)]="event.venue">

                <div class="alert alert-danger" *ngIf="venue.touched && !venue.valid">
                  Venue is required
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-description">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Description
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <textarea required maxlength="190" ngModel name="description" id="description" cols="" rows=""
                  class="form-control" #description="ngModel" change="log(description)" placeholder="Event Description"
                  [(ngModel)]="event.description">

                </textarea>
                <div *ngIf="description.touched &&!description.valid">
                  <div class="alert alert-danger" *ngIf="description.errors?.required">Description is required</div>
                  <div class="alert alert-danger" *ngIf="description.errors?.maxlength">maximum 190 characters</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-from">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            From
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="datetime-local" name="from" id="timepicker1" class="form-control"
                  [(ngModel)]="event.sdate">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-to">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            To
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="datetime-local" name="to" id="timepicker2" class="form-control" [(ngModel)]="event.edate">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-recurrence">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Event Recurrence
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <select class="custom-select" name="recurrence"[(ngModel)]="event.recurrence" >
                  <option value="none">None</option>
                  <option value="Daily">Daily</option>
                  <option value="Weekly">Weekly</option>
                  <option value="Monthly">Monthly</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-userType">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Event Recurrence
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <select class="custom-select" name="partcipantType" [(ngModel)]="event.partcipantType" >
                  <option value="public">Public Users</option>
                  <option value="private">Private Users</option>
                  <option value="partners">Partner Organizations</option>
                  
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-poll">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            Do you want to create poll for this Event? 
          </div>
          <div class="col-9">
            <div class="form-group row">
              <div class="col-sm-12">
                <select class="custom-select" name="isPoll"  class="form-control" [(ngModel)]="event.isPoll">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card" id="card-button">
      <div class="card-body">
          <div class="row">
              <div class="col-3">
              </div>
              <div class="col-9">
                <button class="btn btn-primary mr-2" type="button" routerLink="/admin-profile">
                  Back
                </button>
                <button class="btn btn-primary mr-2" type="submit">
                  Update
                </button>
              </div>
          </div>
      </div>
  </div>
  </form>
</div>
<app-footer></app-footer>