<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>


<div class="container">
    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_volume.png" class="img-fluid" alt="Responsive image">
    <p class="paragraph" id="paragraph-1">The sun is a constant source of ‘free’ energy and plays a crucial role in our overall health and well-being. Orienting the proposed built volume keeping in mind the diurnal and seasonal movement of the sun increases the overall energy efficiency of a project and should be considered as a basic planning requirement. The overall energy and daylight gains from the sun depend on the latitude, angle of incidence, the associated hours of sunshine, the radiation power and the local time of day and season.</p>
    <p class="paragraph" id="paragraph-2"> Ideally, there should not be mutual shading by neighbouring built volumes and thus no reduction in thermal energy gains. In west European latitudes, the following building orientation would make sense: For winter, the solar gains can be optimised by orienting the main living spaces towards the south. The adjoining rooms, which need less or no heating, are oriented more to the north. In summer, with higher angle of sun, harmful glare and excessive room heating must be avoided by adequate shading facilities.</p>
    <p class="paragraph" id="paragraph-3"> The A/V ratio is the ratio of envelope ‘area to room volume’. The following applies in western Europe condition: a building with a large envelope area (A) in relation to the enclosed volume (V) has a higher energy consumption. Thus, the smallest possible value is desirable and speaks for an energy-efficient building. In the building industry, for example, the cube shape represents a compact building.</p>
    <p class="paragraph" id="paragraph-4"> Once again, 3D – BIM techniques along with the available simulation software (e.g. climate, energy and others) can help in arriving at a built – volume which is site specific, sustainable and best suits the proposed function and performance requirements..</p>
 
</div>

















<app-footer></app-footer>
