<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <h1>Join Us</h1>
    <form>
    <div class="card shadow-sm" id="card-1">
    <form (ngSubmit)="insertData()">
        <div class="card" id="card-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Your name *
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="name" placeholder="Your Name"
                                    [(ngModel)]="joinUs.name">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Institution / Organisation *
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="institute"
                                    placeholder="Your academic institution" [(ngModel)]="joinUs.institute">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Your Profession
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="profession" placeholder="Your Profession"
                                    [(ngModel)]="joinUs.profession">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        E-Mail-Adress *
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" name="email"
                                    placeholder="Your academic email address" [(ngModel)]="joinUs.email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Phone
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="mobile"
                                    placeholder="Your phone number (optional)" [(ngModel)]="joinUs.mobile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="card" id="card-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Your message *
                    </div>
                    <div class="col-9">
                        <textarea type="text" class="form-control" rows="5" name="message" placeholder="Your message"
                            [(ngModel)]="joinUs.message"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" id="card-6">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid border border-light shadow">
    <section class="contact-info">
    <div class="container ">
        <h1 class="conatact-details-title">CONTACT</h1>
        <p class="conatact-details">Team Reichardt</p>
        <p class="conatact-details">Münster School of Architecture</p>
        <p class="conatact-details">Leonardo Campus 5</p>
        <p class="conatact-details">48149 Münster, Germany</p>
        <p class="conatact-details">Tel: +49 251 / 83-65075</p>
    </div>
    </section>
</div>
<app-footer></app-footer>