#card-6{
    margin-bottom: 100px;
}

.container
{
    margin-top:50px ;
}


.container-fluid{
    background-color:#1898bd;
    height: 300px;
}

.conatact-details-title,
.conatact-details{
    color: #ffffff;
    text-align: center;
}

.contact-info{
    padding: 10px 0;
}
.conatact-details-title{
    font-weight: bold;
}