<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <h1>Join Us</h1>
    <form>
        <div class="card" id="card-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Your name *
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputName" placeholder="Your Name"
                                    required="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Institution / Organisation *
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputInstitute"
                                    placeholder="Your academic institution" required="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        E-Mail-Adress *
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputEmail"
                                    placeholder="Your academic email address" required="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Phone
                    </div>
                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="inputPhoneNumber"
                                    placeholder="Your phone number (optional)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Your message *
                    </div>
                    <div class="col-9">
                        <textarea type="text" class="form-control" id="inputMessage" rows="5" name="your-message-27013"
                            placeholder="Your message" required=""></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="card-6">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <section class="contact-info">
        <div class="container">
            <h1 class="conatact-details-title">Contact</h1>
            <p class="conatact-details">Team Reichardt</p>
            <p class="conatact-details">Münster School of Architecture</p>
            <p class="conatact-details">Leonardo Campus 5</p>
            <p class="conatact-details">48149 Münster, Germany</p>
            <p class="conatact-details">Tel: +49 251 / 83-65075</p>
        </div>
    </section>
</div>
<app-footer></app-footer>