.card{
    margin-top: 0px;
    
}

.paragraph{
    text-align: justify;
  
  }

.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
     border: 1px solid #94BD7B;
  

}

.centered{
    text-align: center;
    
}

#bolded-text{
    font-weight: bold;
}

.Network-Header{
    padding: 50px 0px 50px 0px;
    margin:0px 0px 0px 0px;
}

.bottom-paragraph{
    padding: 50px 0px 50px 0px;
    margin:0px 0px 0px 0px;
    text-align: justify;
}