<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="heading">Editorial</h1>
            <p>This site and its content are controlled on a regularly basis by:</p>
            <div class="card bg-light">
                <div class="card-body-fluid">
                    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_07eb4f53c41cb8db6d158b6b3818ce90.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <h2 class="big-heading">Prof. Dipl.-Ing. Jürgen Reichardt</h2>
            <p>www.r-m-architekten.de</p>
            <p><a href="reichardt@r-m-a-architekten.de">reichardt@r-m-a-architekten.de</a></p>
            <p>born 1956, Idar-Oberstein, Germany</p>
            <h2 class="sub-heading">Research</h2>
            <h4><span class="bolded-text">2021</span>  Member of editorial board "Journal of Material Science and Technology Research"</h4>
            <h4>3D- BIM “form follows performance “simulation techniques</h4>
            <h4>Programming, Sustainability, Energy Efficiency, Climate Responsive Architecture,</h4>
            <h4><span class="bolded-text">2021</span> Member of VDI German Industry norm expert group for "Digital Factory"</h4>
            <h2 class="sub-heading">Teaching</h2>
            <h4><span class="bolded-text">1996 onw.</span> Professor Building Construction, Industrial Buildings</h4>
            <h4>msa | münster school of architecture, Münster, Germany</h4>
            <h4><span class="bolded-text">2005 onw.</span> International networks in architecture, Academic Cooperations DAAD ISAP Fundings</h4>
            <h4>Münster, Germany/ Colombo, Sri Lanka/ Bangalore/ India, Dunedin, NZ</h4>
            <h2 class="sub-heading">Practice</h2>
            <h4><span class="bolded-text">1991 </span> Reichardt Architects, Essen, Germany</h4>
            <h4><span class="bolded-text">2008  </span>RMA Reichardt – Maas – Associates  GmbH & Co., Essen, Germany</h4>
            <h4><span class="bolded-text">2006 </span> BRAE Bhattacharya Reichardt Architects & Engineers, Bangalore, India</h4>
            <h4><span class="bolded-text">2011</span>  Architects & Engineers Private Limited, Bangalore, India</h4>
            <h2 class="sub-heading">Awards, e.g.</h2>
            <h4>Factory of the year <span class="bolded-text">2011</span>: Bahlsen Barsinghausen</h4>
            <h4>BMWi Award Energy Efficiency <span class="bolded-text">2011</span></h4>
            <h4>DGNB Gold Peter Solar Bakery Essen <span class="bolded-text">2010</span></h4>
            <h2 class="sub-heading">Book Publications, e.g.</h2>
            <h4>Handbook of Factory Planning (english, german, russian edition)</h4>
            <h4>Form Follows Performance – Albert Kahns industrial architecture (english, german edition)</h4>


            <div class="card bg-light">
                <div class="card-body-fluid">
                    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_indranil.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <h2 class="big-heading">Ar. Indranil Bhattacharya</h2>
            <p>born 1969, Kolkata, India</p>
            <p><a href="indranil@brae.in">indranil@brae.in</a></p>
            <p><a href="www.brae.in">www.brae.in</a></p>
            <h2 class="sub-heading">Research</h2>
            <h4>Sustainability, Energy Efficiency, Systems Integration of Building & Process Utilities,</h4>
            <h4>Construction Project Management.</h4>
            <h2 class="sub-heading">Teaching</h2>
            <h4><span class="bolded-text">1995-2006.</span> Assistant Professor, specializing in Building Services & Construction Project Management,</h4>
            <h4>Dept of Architecture, RV College of Engineering, Bangalore, India</h4>
            <h4><span class="bolded-text">2016 onw.</span> Adjunct Faculty – Visiting Professor, specializing in Building Services & High-Rise Constructions</h4>
            <h4>RV College of Architecture, Bangalore, India</h4>
            <h2 class="sub-heading">Practice</h2>
            <h4><span class="bolded-text">2006</span>  BR Architects & Engineers, Bangalore, India</h4>
            <h4><span class="bolded-text">2011</span>  BR Architects & Engineers Pvt. Ltd., Bangalore, India</h4>
            <h4><span class="bolded-text">2018</span>  BRAE Consulting Services Pvt. Ltd., Bangalore, India</h4>
            <h2 class="sub-heading">Book Publications, e.g.</h2>
            <h4>Co-Edited 5 (Five) chapters of ‘Handbook of Factory Planning’ (English, edition)</h4>


            <div class="card bg-light">
                <div class="card-body-fluid">
                    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_upendra.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <h2 class="big-heading">Dr. Upendra RAJAPAKSHA</h2>
            <h2 class="sub-heading">Research</h2>
            <p><a href="https://scholar.google.com/citations?user=PoikWKsAAAAJ&hl=en">https://scholar.google.com/citations?user=PoikWKsAAAAJ&hl=en</a></p>
            <p>“Triloka 2007 and 2008”, The Global Design Studio with student participation form Munster University in Germany, RV Collage in India and University of Moratuwa in Sri Lanka   </p>
            <h5><span class="bolded-text">Local Coordinator</span> </h5>
            <p>Quality Assurance Cell of the Faculty of Architecture, University of Moratuwa Since 2008 to 2012 and 2013-2016 (Six years)</p>
            <h5><span class="bolded-text">Director</span></h5>
            <p>Faculty of Architecture Research Unit (FARU) from March, 2015 to 2017 (Three Years)</p>
            <h5><span class="bolded-text">Director</span></h5>
            <p>Special Section of regular issue of International Journal of Architectural Research: Archnet-IJAR (indexed in SCOPUS-Elsevier, Avery, EBSCORE and Web of Science Core Collection of Clarivate Analytics) for extended papers from FARU Proceedings 2017, Volume (12)-Issue (2)- July 2018</p>
            <p><span class="bolded-text">Guest Editor</span> – Archnet-IJAR http://www.archnet-ijar.net Registration Number CA 98107</p>
            <p><span class="bolded-text">Chartered Architect</span>- Architects Registration Board of Sri Lanka Institute of Architects,</p>
            <p><span class="bolded-text">AIA (SL)</span> - Associate Member of Sri Lanka Institute of Architects since 1991 </p>
            <h2 class="sub-heading">Teaching</h2>
            <h3>2004 onw. </h3>
            <p>Department of Architecture, Faculty of Architecture, University of Moratuwa, Sri Lanka</p>
            <p>Teaching architectural design, architectural science and practice theory</p>
            <h2 class="sub-heading">Awards, e.g.</h2>
            <p><span class="bolded-text">Highly Commended Pass</span> for the Comprehensive Design Project (CDP) which has been presented for Master of Science (Architecture) Examination of University of Moratuwa, 1988</p>
            <p><span class="bolded-text">“Dr. Justin Samarasekara Award”</span> of University of Moratuwa for the best Dissertation, which received a <span class="bolded-text">Highly Commended Pass</span> M.Sc (Architecture) Examination, 1988</p>
            <p><span class="bolded-text">“International Postgraduate Research Scholarship” (IPRS)</span> of Department of Education, Training and Youth Affairs of the Australian Government, from May 1998 - March 2003</p>
            <p><span class="bolded-text">“University of Queensland International Postgraduate Research Scholarship” (UQIPRS)</span> of the University of Queensland, May 1998 - March 2003</p>
            <p><span class="bolded-text">Research Award 2012</span> on merit for Best Researcher awarded by Sri Lanka Institute of Architects (SLIA) at the Annual Sessions of SLIA in 2012  </p>
            <p><span class="bolded-text">Award of Excellence 2014</span> in recognition of the outstanding research performances for the three years ending 31st December 2012, University of Moratuwa, Sri Lanka</p>
            <p><span class="bolded-text">Award of Excellence 2016</span> in recognition of the outstanding research performances for the three years ending 31st December 2015, University of Moratuwa, Sri Lanka</p>
            <p><span class="bolded-text">Award of Excellence 2018</span> in recognition of the outstanding research performances for the three years ending 31st December 2015, University of Moratuwa, Sri Lanka</p>
      
            

            
           














           
















        </div>
        
    </div>
    














</div>
<app-footer></app-footer>
