.heading{
    margin-top: 40px;
}

.card{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ebebeb;
    text-align: left;
    height: 400px;
}

.sub-heading{
    margin-top: 50px;
    margin-bottom: 40px;
}
.img-fluid{
    height: 400px;
}

.container{
    margin-bottom: 100px;
    text-align: justify;
}

.bolded-text{
    font-weight: bold;
}