ul {
    list-style-type: none;
    background-color: #01AAAD;
    width: 50%;
    height: 100px;
   
    display:inline-block;
    line-height: 100px;
    align-items: center;
}

.splita {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 60px;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .splitb {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 200px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgba(255, 204, 0, 0.535);
  }
  
  
  .right {
    right: 0;
    background-color: rgba(0, 255, 208, 0.535);
  }
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  button.btn1{
    width: 70px;
  }