<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_material.png" class="img-fluid" alt="Responsive image">
    <p class="paragraph" id="paragraph-1">The thermal properties of a building depend to a large extent on the choice of materials and their associated properties.  Heat can be transported through transmission, radiation and convection. In this context, the heat transfer of a material is specified with the thermal conductivity (W/mK). The most effective insulating material is air, but only if it does not circulate and thus convection, a transporter of heat, is avoided. Porous and light materials in organic or inorganic form are particularly well suited for insulation.</p>
    <p class="paragraph" id="paragraph-2">The following points need to be kept in mind:</p>
    <p class="paragraph" id="paragraph-3">- ‘grey’ or ‘embodied’ energy needed for producing / manufacturing the material.</p>
    <p class="paragraph" id="paragraph-4">- locally availability.</p>
    <p class="paragraph" id="paragraph-5">- ase of construction, replacement and maintenance.</p>
    <p class="paragraph" id="paragraph-6">- durability.</p>
    <p class="paragraph" id="paragraph-7">- the material / finishes should not be injurious to health (humans as well as domestic animals / pets)</p>
    <p class="paragraph" id="paragraph-8">- physical properties – like expansion / shrinkages should not affect the durability of the structure.</p>
    <p class="paragraph" id="paragraph-9">- ease of disposal at the end of its life – cycle.</p>
    <p class="paragraph" id="paragraph-10">One should look into the ‘cradle to cradle’ philosophy for all the preferred materials and technologies in order to plan a truly sustainable building.</p>
    
   
    
 
</div>














<app-footer></app-footer>
