input#yes {
    transform: scale(3);
    margin: 20px;
 }
 
 input#no {
    transform: scale(3);
    margin: 20px;
 }
 .card-header{
    font-weight: bold;
    font-size: large;
 }

 .card-title{
     font-weight: bold;
 }

 .card-text{
     font-size: medium;
 }