<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>

<div class="container">
    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_ecology.png" class="img-fluid" alt="Responsive image">
    <p class="paragraph" id="paragraph-1">The goal as Architects, Engineers and Town-planners should be to plan for peaceful co-existence with nature and not ‘over’ protection from ‘hostile’ site conditions.   </p>
    <p class="paragraph" id="paragraph-2"> The proposed development should attempt:</p>
    <p class="paragraph" id="paragraph-3">- to minimise its ecological foot-print on earth</p>
    <p class="paragraph" id="paragraph-4">- to support favourable habitat for species, esp. insects and birds</p>
    <p class="paragraph" id="paragraph-5">- to minimise additional resource requirements to plan – operate – maintain</p>
    <p class="paragraph" id="paragraph-6">- to minimise waste (solid, liquid, gases as well as noise) generated during construction and post-occupancy</p>
    <p class="paragraph" id="paragraph-7">Excessive dependence of chemicals and pesticides is further damaging the fragile eco-system and destroying the ‘microbiome’ in and around us.  One should avoid ‘sealing’ of towns and buildings.  Further, one should attempt to make a sound analysis of the available bounties of nature in terms of sun – wind – rain - others in order to strengthen the ‘passive’ utilities and energies of the project. </p>
</div>












<app-footer></app-footer>
