.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
     border: 1px solid #94BD7B;
  

}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

#paragraph-1{
    margin-top:30px ;
}

#paragraph-2{
    margin-top:60px ;
}

#paragraph-7{
    margin-top:50px ;
}

.paragraph{
    text-align: justify;
}