<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>

<div class="container">
    <div class="card border border-secondary">
        <div class="card-header bg-white border-bottom border-secondary">
            <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_topography.png" class="img-fluid" alt="Responsive image">
          </div>
        <div class="card-body">
            <p class="paragraph" id="paragraph-1">Topography plays an important role with specific impact to sun, wind and rain movement in and around the building. Let us e.g. consider a reference building in free field scenario:</p>
            <p class="paragraph" id="paragraph-2">-a building in a valley ("cold air lake") would be subjected to a temperature difference of -3 °C than the plains.</p>
            <p class="paragraph" id="paragraph-3">- the same building on a south-facing slope would be facing a temperature difference of +2°C, but the relative heat loss due to wind would be 100%.</p>
            <p class="paragraph" id="paragraph-4">- Finally, the same building on top a hill would typically result in heat losses in excess of +10% with additional heat losses due to wind at 100 %.</p>
            <p class="paragraph" id="paragraph-5">Building solution should mirror these different conditions, volumes merging with its surroundings and causing least amount of disturbance to the prevailing winds should be climatically more efficient. It is needless to mention that a building designed keeping the sun, wind, rain and the surrounding natural settings in mind would be healthier and sustainable in the long run.</p>
        </div>
      </div>
</div>






<app-footer></app-footer>
