<app-navbar></app-navbar>
<div class="container">
    <div style="max-width: 70%; margin: 0 auto">
        <div class="juggling-container"> <video autoplay="" preload="auto" muted="" width="100%" class="hidden-xs hidden-sm" id="jongleur_background_vid"> <source src="https://static.vanillr.io/media/5331/home-animation-position-05-reduziert.mov" type="video/mp4"> </video>
            <div
                class="container-links"> <a href="#/geography" class="link link-1">
            Geography
        </a> <a href="#/topography" class="link link-2">
            Topography
        </a> <a href="#/ecology" class="link link-3">
            Ecology
        </a> <a href="#/technology" class="link link-4">
            Technology
        </a> <a href="#/volume" class="link link-5">
            Volume
        </a> <a href="#/energy" class="link link-6">
            Energy
        </a> <a href="#/envelope" class="link link-7">
            Envelope
        </a> <a href="#/zoning" class="link link-8">
            Zoning
        </a> <a href="#/material" class="link link-9">
            Material
        </a> <a href="#/ventilation" class="link link-10">
            Ventilation
        </a> </div>
    </div>
  </div>
