

<div class="mt-4 col-8 offset-2">
    <div class="card">
      <div class="card-header">Login Here</div>
      <div class="card-body">
        <form #registerForm=ngForm (ngSubmit)="onSubmit()">
  
          
          <div class="form-group row">
            <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="inputName3" placeholder="Name" [(ngModel)]="form.name" required>
              
            </div>
          </div>

          <div class="form-group row">
            <label for="userName3" class="col-sm-2 col-form-label">User name</label>
            <div class="col-sm-10">
              <input type="text" name="username" class="form-control" id="userName3" placeholder="User name" [(ngModel)]="form.username" required>
              
            </div>
          </div>

          <div class="form-group row">
            <label for="inputInstitute3" class="col-sm-2 col-form-label">Institution / Organisation</label>
            <div class="col-sm-10">
              <input type="text" name="institute" class="form-control" id="inputInstitute3" placeholder="Academic institute" [(ngModel)]="form.institute" required>
              
            </div>
          </div>

          <div class="form-group row">
            <label for="inputProfession3" class="col-sm-2 col-form-label">Profession</label>
            <div class="col-sm-10">
              <input type="text" name="profession" class="form-control" id="inputProfession3" placeholder="Profession" [(ngModel)]="form.profession" required>
              
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email address</label>
            <div class="col-sm-10">
              <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
              
            </div>
          </div>

  
          <div class="form-group row">
            <label for="inputMobile3" class="col-sm-2 col-form-label">Mobile</label>
            <div class="col-sm-10">
              <input type="text" name="mobile" class="form-control" id="inputMobile3" placeholder="Phone number" [(ngModel)]="form.mobile"
                required>
                
            </div>
          </div> 

          <div class="form-group row">
            <label for="inputPasswordConfirmation3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3" placeholder="Password"
                [(ngModel)]="form.password" required>
                
            </div>
          </div>
  
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" name="password_confirmation" class="form-control" id="inputPassword3" placeholder="Confirm Password" [(ngModel)]="form.password_confirmation"
                required>
            </div>
          </div>

          
  
          <div class="form-group row">
            <div class="col-sm-10 offset-2">
  
              <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Sign in</button>
  
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

