<app-admin-nav></app-admin-nav>
<app-breadcrumb></app-breadcrumb>

<div class="container">
      <h1 class="main-title">Edit Project</h1>
       <form action="" method="post" [formGroup]="form">

        <div class="form-row">

          <div class="form-group col-md-4">
            <label for="exampleFormControlInput1">Project Title:</label>
            <input [(ngModel)]="data.project_title"  type="text" formControlName="project_title" class="form-control" id="exampleFormControlInput1"  placeholder="Add project title">
            <div *ngIf="submitted && f.project_title.touched && f.project_title.errors" class="invalid-feedback">
              <div *ngIf="f.project_title.errors.required">Project Title is required</div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="exampleFormControlInput2">Author Name:</label>
            <input [(ngModel)]="data.author"  type="text" formControlName="author" class="form-control" id="exampleFormControlInput2"  placeholder="Add author name" >
            <div *ngIf="submitted && f.author.touched && f.author.errors" class="invalid-feedback">
                <div *ngIf="f.author.errors.required">Author Name is required</div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="exampleFormControlInput3">Organisation:</label>
            <input [(ngModel)]="data.organisation"  type="text" formControlName="organisation" class="form-control" id="exampleFormControlInput3"  placeholder="Add your organisation" >
            <div *ngIf="submitted && f.organisation.touched && f.organisation.errors" class="invalid-feedback">
                <div *ngIf="f.organisation.errors.required">Organisation is required</div>
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="exampleFormControlInput4">Abstract:</label>
          <textarea [(ngModel)]="data.abstract"  formControlName="abstract" class="form-control" id="exampleFormControlInput4"  placeholder="Add a short description about your project..." rows ="5" ></textarea>
          <div *ngIf="submitted && f.abstract.touched && f.abstract.errors" class="invalid-feedback">
              <div *ngIf="f.abstract.errors.required">Project Title is required</div>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect4">Category:</label>
            <select [(ngModel)]="data.category" formControlName="category" class="form-control" id="exampleFormControlSelect4">
              <option value="Examples">Examples</option>
              <option value="Toolbox">Toolbox</option>
              <option value="Additives">Additives</option>
            </select>
            <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
              <div *ngIf="f.category.errors.required">Category is required</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect5">Type of Document:</label>
              <select [(ngModel)]="data.type_of_doc" formControlName="type_of_doc" class="form-control" id="exampleFormControlSelect5">
                <option value="spd">Short Project Description</option>
                <option value="ssp">Side Share Presentation</option>
                <option value="fpp">Full Presentation Panels</option>
                <option value="rp">Research Paper</option>
                <option value="sr">Student Research</option>
                <option value="sfs">Short Fact Sheet</option>
              </select>
              <div *ngIf="submitted && f.type_of_doc.errors" class="invalid-feedback">
                <div *ngIf="f.type_of_doc.errors.required">Type of Document is required</div>
              </div>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect6">Cimate Zone:</label>
              <select [(ngModel)]="data.climate_zone" formControlName="climate_zone" class="form-control" id="exampleFormControlSelect6" >
                <option value="tropical">Tropical</option>
                <option value="arid">Arid</option>
                <option value="temperate">Temperate</option>
                <option value="cold">Cold</option>
                <option value="polar">Polar / Alpine</option>
              </select>
              <div *ngIf="submitted && f.climate_zone.errors" class="invalid-feedback">
                <div *ngIf="f.climate_zone.errors.required">Cimate Zone is required</div>
              </div>
          </div>

          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect7">World Region:</label>
              <select [(ngModel)]="data.world_region" formControlName="world_region" class="form-control" id="exampleFormControlSelect7" >
                <option value="nasia">North Asia</option>
                <option value="casia">Central Asia</option>
                <option value="sasia">South Asia</option>
                <option value="aus/zea">Australia / New Zealand</option>
                <option value="arab">Arabia</option>
                <option value="euro">Europe</option>
                <option value="afric">Africa</option>
                <option value="nam">North America</option>
                <option value="sam">South America</option>
                <option value="pole">North / South Pole</option>
              </select>
              <div *ngIf="submitted && f.world_region.errors" class="invalid-feedback">
                <div *ngIf="f.world_region.errors.required">World Region is required</div>
              </div>
          </div>

        </div>

        <div>
          <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
                <agm-info-window [isOpen]="false" #infoWindow>
                    <a class="btn btn-attention pull-right">
                        Press the Red Location Pin, then move the Pin to your location。
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlInput8">Longitude:</label>
              <input [(ngModel)]="data.longitude" type="text" formControlName="longitude" class="form-control" id="exampleFormControlInput8"  placeholder="Add longitude" >
              <div *ngIf="submitted && f.longitude.touched && f.longitude.errors" class="invalid-feedback">
                <div *ngIf="f.longitude.errors.required">Longitude is required</div>
              </div>
          </div>

          <div class="form-group col-md-6">
            <label for="exampleFormControlInput9">Latitude:</label>
              <input [(ngModel)]="data.latitude" type="text" formControlName="latitude" class="form-control" id="exampleFormControlInput9"  placeholder="Add latitude" >
              <div *ngIf="submitted && f.latitude.touched && f.latitude.errors" class="invalid-feedback">
                <div *ngIf="f.latitude.errors.required">Latitude is required</div>
              </div>
          </div>
        </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="exampleFormControlSelect10">Parameter:</label>
          <select [(ngModel)]="data.parameters"  formControlName="parameters" class="form-control" id="exampleFormControlSelect10" >
              <option value="ven">Ventilation</option>
              <option value="shade">Shadeing</option>
              <option value="mass">Thermal Mass</option>
              <option value="env">Building Envelope</option>
              <option value="vol">Bullding Volume</option>
              <option value="paln">Plan Form</option>
              <option value="sec">Sectional Form</option>
              <option value="cul">Culture</option>
              <option value="veg">Vegetation</option>
              <option value="util">Utilities</option>
              <option value="sitetopo">Site Topography</option>
          </select>
          <div *ngIf="submitted && f.parameters.errors" class="invalid-feedback">
              <div *ngIf="f.parameters.errors.required">Parameter is required</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="exampleFormControlSelect11">Material:</label>
          <select  [(ngModel)]="data.material" formControlName="material" class="form-control" id="exampleFormControlSelect11" >
              <option value="ven">Ventilation</option>
              <option value="wood">Wood</option>
              <option value="bam">Bamboo</option>
              <option value="clay">Clay</option>
              <option value="brick">Brick</option>
              <option value="stone">Stone</option>
              <option value="steel">Steel</option>
              <option value="glass">Glass</option>
              <option value="con">Concrete</option>
              <option value="fab">Fabric</option>
              <option value="recycled">Recycled</option>
          </select>
          <div *ngIf="submitted && f.material.errors" class="invalid-feedback">
              <div *ngIf="f.material.errors.required">Material is required</div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label>Energy Strategy:</label>
        <select [(ngModel)]="data.energy_strategy"  formControlName="energy_strategy" class="form-control" >
          <option value="Active">Active</option>
          <option value="Passive">Passive</option>
        </select>
        <div *ngIf="submitted && f.energy_strategy.touched && f.energy_strategy.invalid" class="invalid-feedback">
          <div *ngIf="f.energy_strategy.errors.required">Energy Strategy is required</div>
        </div>
      </div>

    <div class="form-row">

      <div class="form-group col-md-4">
        <label  for="exampleFormControlSelect12">Building Scale:</label>
        <select [(ngModel)]="data.bulding_scale"   formControlName="bulding_scale" class="form-control" id="exampleFormControlSelect12" >
            <option value="Urban Scale">Urban Scale</option>
            <option value="Individual Bulding Scale">Individual Bulding Scale</option>
        </select>
        <div *ngIf="submitted && f.bulding_scale.errors" class="invalid-feedback">
          <div *ngIf="f.bulding_scale.errors.required">Building Scale is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="exampleFormControlSelect13">Mode of Information:</label>
        <select [(ngModel)]="data.mode_of_info" formControlName="mode_of_info" class="form-control" id="exampleFormControlSelect13" >
            <option value="contemp">Contempary Examples</option>
            <option value="traditional">Traditional Examples</option>
            <option value="tute">Tutorial Link</option>
            <option value="facti">Fact Sheet</option>
            <option value="ppt">Presentation</option>
            <option value="research">Research Paper</option>
            <option value="stupro">Student Projects</option>
        </select>
        <div *ngIf="submitted && f.mode_of_info.errors" class="invalid-feedback">
            <div *ngIf="f.mode_of_info.errors.required">Mode of Information is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="exampleFormControlSelect14">Topic:</label>
        <select [(ngModel)]="data.topic" formControlName="topic" class="form-control" id="exampleFormControlSelect14">
            <option value="flowana">Flow Analysis</option>
            <option value="sunco">Sun Course</option>
            <option value="tempprof">Temperature Profile</option>
            <option value="climateinfo">Climate Information</option>
            <option value="bim">BIM</option>
            <option value="facmgmt">Facility Management Operation</option>
        </select>
        <div *ngIf="submitted && f.topic.errors" class="invalid-feedback">
            <div *ngIf="f.topic.errors.required">Topic is required</div>
        </div>
      </div>

      </div>

      <div class="form-row">

      <div class="form-group col-md-6">
        <label>Project File:</label>
          <input type="file" (change)="projectFileChange($event)" placeholder="Upload file" accept=".pdf" >
          <div *ngIf="f.project_file.touched && f.project_file.invalid" class="invalid-feedback">
            <div *ngIf="f.project_file.errors.required">Project file is required</div>
          </div>
      </div>

      <div class="form-group col-md-6">
        <label>Project View Image:</label>
          <input type="file" (change)="imgFileChange($event)" placeholder="Upload file" accept=".jpg, .png, .jpeg" >
          <div *ngIf="f.img_file.touched && f.img_file.invalid" class="invalid-feedback">
            <div *ngIf="f.img_file.errors.required">Project view image is required</div>
          </div>
      </div>

      </div>

      <div class="form-group">
        <label>Access:</label>

        <select [(ngModel)]="data.accessible" formControlName="energy_strategy" class="form-control" >
          <option value="open">Open Access</option>
          <option value="private">Private Protected</option>
        </select>

          <div *ngIf="submitted && f.accessible.touched && f.accessible.invalid" class="invalid-feedback">
            <div *ngIf="f.accessible.errors.required">Access method is required</div>
          </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <button class="btn btn-lg btn-primary" type="button" routerLink="/project-list">Back</button>
          <button style="margin-left: 20px!important;" type="submit" class="btn btn-lg btn-primary" (click)="updateProject()">Update</button>
        </div>
      </div>

    </form>
</div>
<app-footer></app-footer>
