<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>

<div class="container">
    <div class="card border border-primary">
        <div class="card-header bg-white border-bottom border-primary">
            <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_geography.png" class="img-fluid" alt="Responsive image">
          </div>
        <div class="card-body">
            <p class="paragraph" id="paragraph-1">Projects (both at urban / city planning scale and as well as an individual building level) should respond to the local climatic conditions. Our planet is geographically divided into four climate zones. Here’s a brief look at the various types along with their prominent features:</p>
            <p class="paragraph" id="paragraph-2"><strong>Tropics:</strong> high direct solar radiation under cloudless skies, otherwise mostly moderate due to cloud cover. high relative humidity. heavy precipitation levels. </p>
            <p class="paragraph" id="paragraph-3"><strong>Subtropics:</strong> Intense direct solar radiation. infrequent rainfall with sudden / extremely heavy precipitation levels.</p>
            <p class="paragraph" id="paragraph-4"><strong>Temperate zone:</strong> widely differing solar radiation intensities; in Central Europe, for example, there is a high proportion of diffused radiation with frequent cloud cover, while in the transition areas towards the tropics one finds higher levels of radiation. precipitation levels vary significantly across the zone.</p>
            <p class="paragraph" id="paragraph-5"><strong>Polar zone:</strong> minimal solar radiation, annual temperatures range from 0-6 °C. low precipitation levels.</p>
            <p class="paragraph" id="paragraph-6">Each climate zone has developed its own construction systems and methods, which is best suited for the said climatic conditions based upon experience – knowledge passed down generations. As a thumb rule, locally available building materials were used which was sensible both in terms of ecology as well as economy. Over time, building techniques improved to such an extent that structures that combined minimum effort with maximum benefit became the universal standard. Traditional building types today may not meet the current functional and energy requirements; however, they nevertheless provide invaluable insights into energy-conscious construction methods. The four climatic zones were further classified to bring out subtle differences, often leading to unique building / construction typologies based upon positive experiences of the locals.</p>
           
        </div>
      </div>
    
    
 
</div>













<app-footer></app-footer>
