<app-admin-nav></app-admin-nav>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <h2>Events</h2>
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Event Name</th>
            <th scope="col">Venue</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Recurrence </th>
            <th scope="col">User Type </th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let eve of eventList | paginate: {itemsPerPage: 4, currentPage: page}">
            
            <th scope="row">{{eve.title}}</th>
            <td>{{eve.venue}}</td>
            <td>{{eve.sdate}}</td>
            <td>{{eve.edate}}</td>
            <td>{{eve.recurrence}}</td>
            <td>{{eve.partcipantType}}</td>
            <td><button 
                  class="btn btn-sm"
                  id="delete"
                  (click)="deleteEvent(eve.id)" >Delete</button> 
                <button 
                  class="btn btn-sm mx-2"
                  id="edit"
                  routerLink="event-edit/{{eve.id}}">
                  Edit
                </button>
                <button 
                  class="btn btn-sm btn-primary mx-2"
                  id="results"
                  *ngIf="eve.isPoll"
                  routerLink="vote-result/{{eve.id}}">
                  poll result</button>
                  
            </td>
            
          </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page=$event" class="float-right"></pagination-controls>
</div>
<!-- <app-footer></app-footer> -->