<app-admin-nav></app-admin-nav>
<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h1 class="main-title">Events</h1>
  <ul *ngFor= "let eve of eventList | paginate: {itemsPerPage: 4, currentPage: page}">
    <li>
      <div class="card border border-info rounded">
        <div class="card-body  shadow  ">
            <h2>{{eve.title}}</h2>
            <p><b>Venue : </b>{{eve.venue}}</p>
            <p><b>Starting Time : </b>{{eve.sdate}}</p>
            <p><b>Finishing Time : </b>{{eve.edate}}</p>
            <p><b>Event Recurrence :</b>{{eve.recurrence}}</p>
            <p><b>Participant Type :</b>{{eve.partcipantType}}</p>
            <p><button 
                  class="btn mx-2 btn-outline-info"
                  id="delete"
                  (click)="deleteEvent(eve.id)" >Delete</button> 
                <button 
                  class="btn mx-2 btn-outline-info"
                  id="edit"
                  routerLink="event-edit/{{eve.id}}">
                  Edit
                </button>
                <button 
                  class="btn btn-outline-info mx-2"
                  id="results"
                  *ngIf="eve.isPoll"
                  routerLink="vote-result/{{eve.id}}">
                  poll result</button>
                  
              </p>
        </div>
      </div>
    </li>
  </ul>
  
  <pagination-controls (pageChange)="page=$event" class="float-right"></pagination-controls>
</div>
<app-footer></app-footer>