<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>

<div class="container">
    <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_envelope.png" class="img-fluid" alt="Responsive image">
    <p class="paragraph" id="paragraph-1">The building envelope serves as protection against wind, rain, moisture, solar radiation and temperature-specific influences. In addition to the overall aesthetics, the energy consumption of a building depends on the envelope detailing too.  The building envelope requires a fine balance between the following goals:</p>
    <p class="paragraph" id="paragraph-2">- the low and incident angle of the sun</p>
    <p class="paragraph" id="paragraph-3">- ensuring passive energy gains, if any.</p>
    <p class="paragraph" id="paragraph-4">- daylighting for the interiors and glare.</p>
    <p class="paragraph" id="paragraph-5">- the heat-insulating properties of glass, wall and other peripheral surfaces.</p>
    <p class="paragraph" id="paragraph-6">- durability, operation and maintenance challenges, if any of the proposed material/s and technologies.</p>
    <p class="paragraph" id="paragraph-7">-the life – cycle analysis of the proposed system and materials</p>
    <p class="paragraph" id="paragraph-8">The aim of an energy-efficient building envelope is to ensure a sustainable and desired indoor climatic condition. A reduction in energy demand can be achieved by integrating solar technologies on to the building envelope. Green roofs, green walls, facades which are able to generate energy as well as control noise and others are being widely accepted and integrated into the holistic planning process.</p>
    <p class="paragraph" id="paragraph-9">In order to ensure an energy-efficient building envelope, an extensive site analysis should be included in the planning process. Typically, in a passive residential construction, the envelope also assumes the load-bearing function; ‘curtain facades’ independent of the load-bearing structure are also possible. Not only winter thermal insulation but also protection against overheating in summer plays an essential role in reference to specific latitudes. In winter, the building envelope must be very well insulated against the cold; as already explained, large window surfaces facing south can achieve additional passive heat gains. In summer, the solar energy must be kept away from the envelope surface as far as possible, especially from the transparent surfaces; this can be achieved with external shading elements.</p>
    
   
   
    
 
</div>








<app-footer></app-footer>
