.paragraph{
    text-align: justify;
}

.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;

  

}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

#paragraph-1{
    margin-top:30px ;
}

#paragraph-2,
#paragraph-8{
    margin-top:40px ;
}

#paragraph-9{
    margin-top:40px ;
}

