<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="card border border-warning">
        <div class="card-header bg-white border-bottom border-warning">
            <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_energy.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="card-body">
            <p class="paragraph" id="paragraph-1">Buildings are predestined to generate solar energy if their overall built volumes and specifically the roof surfaces are oriented correctly.  Typically, solar photo-voltaic or thermal collectors mounted on a south-facing roof can make optimal use of the sun's rays to generate ‘green’ energy for the project.</p>
            <p class="paragraph" id="paragraph-2">  Simulation software can help in planning, predicting the total energy requirement for a project keeping in mind the exacting site conditions and programming requirements.  Ideally, the required residual energy can be provided by an active solar or wind-based energy generation system. At present, both solar as well as wind-based technologies are widely established across the world.</p>
            <p class="paragraph" id="paragraph-3"> Project sites blessed with solar, wind, water or geo-thermal sources can make best use of the same to reduce operation and maintenance costs and their carbon footprint.</p>
            <p class="paragraph" id="paragraph-4"> On the whole, authors propose more ‘sail-boat’ strategies, making use of the prevailing conditions, rather than ‘motor-boat’ utilities, causing more carbon footprint and global warming. It is needless to mention that in the long run ‘low-tech - passive’ systems are more economical to design, execute, operate and maintain than their ‘high-tech active’ counterparts. </p>
         
           
        </div>
      </div>
   
   
</div>













<app-footer></app-footer>