<app-navbar></app-navbar>
<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="card border border-primary">
        <div class="card-header bg-white border-bottom border-primary">
            <img src="https://static.vanillr.io/media/5331/thumbnail/auto_300x500_planform.png" class="img-fluid" alt="Responsive image">
          </div>
        <div class="card-body">
            <p class="paragraph" id="paragraph-1">Floor plan and sectional zoning determines internal spacing of volume, but also areas of specific usage in line with the functional requirements and programming of the building. Architects need to look into ‘flexible’ or ‘changeable’ spaces ideally both in plan as well as section in order to arrive at a now and in future ‘sustainable’ solution. In reference to local climate the amount of daylight and natural ventilation, as well as possible views to the outside world, are important in whole period of the life-cycle of the building.</p>
            <p class="paragraph" id="paragraph-2">The harvesting of energy (specifically solar energy) is essential for the health and well-being of the occupants and to minimise energy losses while shading devices are important to minimize glare and overheating. The following needs to be kept in mind in order to arrive at a sustainable solution:</p>
            <p class="paragraph" id="paragraph-3">- sun orientation with reference to floor plan and section,</p>
            <p class="paragraph" id="paragraph-4">- coherence of inner heat load depending on use to sun orientation,</p>
            <p class="paragraph" id="paragraph-5">- fixed or moveable spatial / structural divisions.</p>
            <p class="paragraph" id="paragraph-6">In cold climates, the aim is to store a lot of energy in order to minimise losses, whereas in hot climates, storage of energy in buffer materials / spaces should be avoided. Intermediate climate attic rooms were originally used as drying rooms and acted as a buffer.</p>       
        </div>
      </div>
</div>


















<app-footer></app-footer>
